<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AFEGIR UN BLOC A UNA TAULA</title>
  <style>
        .form-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-container label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Afegir bloc a una taula</h1>
<form action="#" th:action="@{/api/taula/addBlocTaula}" method="post">
  <div class="form-container">
    <label for="nom_taula">Indiqui el nom de la taula:</label>
    <input type="text" id="nom_taula" name="nom_taula" required>
    <input type="submit" value="Enviar" />
  </div>
</form>
<p th:text="${mensaje}" th:if="${mensaje != null}"></p>
<div class="button-container">
  <button onclick="window.location.href = '/vistas/gestioTaules';">Enrrere</button>
</div>


</body>
</html>