<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CONSULTAR INDEX B+</title>
  <style>
        .form-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-container label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Consultar Index B+</h1>
<form action="#" th:action="@{/api/indexb/consultarIndexB}" method="post">
  <div class="form-container">
    <label for="nom_indexb">Indiqui el nom de l'index B+:</label>
    <input type="text" id="nom_indexb" name="nom_indexb" required>
  </div>
  <div class="form-container">
    <input type="submit" value="Enviar" />
  </div>
  <tr th:each="elemento : ${mensaje}">
    <td><span th:text="${elemento}"></span><br/></td>
  </tr><br/>
  <div class="form-container">
    <button onclick="window.location.href = '/vistas/gestioIndexB';">Enrrere</button>
  </div>
</form>

</body>
</html>