<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EXECUTAR ALGORISME PATH</title>
  <style>
        .form-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-container label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Executar algorisme content</h1>
<form action="#" th:action="@{/api/algorisme/executarAlgContent}" method="post">
  <div class="form-container">
    <label for="executarAlgContent">Indiqui la funció execute() completa que vol executar:</label>
    <textarea id="executarAlgContent" name="executarAlgContent" rows="15" cols="80" required></textarea>
  </div>
  <div class="form-container">
    <input type="submit" value="Carregar algorisme" />
  </div>
  <div class="form-container">
    <p th:text="${mensaje}" th:if="${mensaje != null}"></p>
  </div>

</form>
<form action="#" th:action="@{/api/algorisme/executarC}" method="post">
  <tr th:each="elemento : ${resultat}">
    <td><span th:text="${elemento}"></span><br/></td>
  </tr><br/>
  <div class="form-container">
    <input type="submit" value="Executar" />
  </div>
</form>
<div class="form-container">
  <button onclick="window.location.href = '/vistas/executarAlgorisme';">Enrrere</button>
</div>

</body>
</html>