<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EXECUTAR ALGORISME PATH</title>
  <style>
        .form-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-container label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h1>Executar algorisme fitxer</h1>
<form action="#" th:action="@{/api/algorisme/executarAlgPath}" method="post" enctype="multipart/form-data">
  <div class="form-container">
    <label for="algorisme_file">Indiqui el fitxer que conte l'algorisme a executar:</label>
    <input type="file" id="algorisme_file" name="algorisme_file" required>
  </div>
  <div class="form-container">
    <input type="submit" value="Carregar algorisme" />
  </div>
  <div class="form-container">
    <p th:text="${mensaje}" th:if="${mensaje != null}"></p>
  </div>
</form>
<form action="#" th:action="@{/api/algorisme/executarP}" method="post">
  <div class="form-container" th:if="${mensaje != null}">
    <input type="submit" value="Executar" />
  </div>
    <tr th:each="elemento : ${resultat}">
      <td><span th:text="${elemento}"></span><br/></td>
    </tr><br/>

</form>
<div class="form-container">
  <button onclick="window.location.href = '/vistas/executarAlgorisme';">Enrrere</button>
</div>

</body>
</html>