<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EXECUTAR ALGORISME</title>
    <style>
        .button-container {
            display: flex;
            justify-content: left;
            align-items: left;
            margin-bottom: 20px;
        }
        .button-container button {
            margin: 5px;

    </style>
</head>
<body>
<h1>Executar algorisme</h1>
<div class="button-container">
    <button onclick="window.location.href = '/vistas/executarAlgPath';">Executar algorisme (Path)</button>
    <button onclick="window.location.href = '/vistas/consultarIndexHash';">Consultar Index Hash</button>
</div>
<div class="button-container">
    <button onclick="window.location.href = '/vistas';">Enrrere</button>
</div>

</body>
</html>