<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>inici</title>
</head>
<body>
<h1>Pagina d'inici</h1>

    <button type="button" onclick="window.location.href='vistas/gestioTaules'">Gestio Taules</button>
    <button type="button" onclick="window.location.href='vistas/gestioIndexB'">Gestio Index B+</button>
    <button type="button" onclick="window.location.href='vistas/gestioIndexHash'">Gestio Index Hash</button>
    <button type="button" onclick="window.location.href='vistas/executarAlgorisme'">Executar algorisme</button>

</body>
</html>