<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POPULATE TAULA</title>
  <style>
        .form-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .form-container label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Populate taula</h1>
    <form action="#" th:action="@{/api/taula/populateTaula}" method="post">
      <div class="form-container">
        <label for="nom_taula">Indiqui el nom de la taula:</label>
        <input type="text" id="nom_taula" name="nom_taula" required>
      </div>
      <div class="form-container">
        <label for="nBloc">Indiqui el nombre de blocs:</label>
        <input type="number" id="nBloc" name="nBloc" required>
      </div>
      <div class="form-container">
        <label for="nTupla">Indiqui el nombre de tuplas per bloc:</label>
        <input type="number" id="nTupla" name="nTupla" required>
      </div>
      <input type="submit" value="Enviar" />
    </form>
    <p th:text="${mensaje}" th:if="${mensaje != null}"></p>
    <div class="button-container">
      <button onclick="window.location.href = '/vistas/gestioTaules';">Enrrere</button>
    </div>
</body>
</html>